<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delicius | Home</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('partials/navbar.ejs')%>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center mb-4">
                        <div class="col-md-5 text-center">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <h1 class="text-success mb-3">Berhasil!</h1>
                                    <p><strong>Pesanan telah dikirim</strong></p>
                                    <p>Silahkan lakukan pembayaran sebesar <br> <span class="text-lg">IDR <%= data.price %></span></p>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item">OVO : 0813-5997-4022</li>
                                        <li class="list-group-item">DANA : 0813-5997-4022</li>
                                        <li class="list-group-item">GOPAY : 0813-5997-4022</li>
                                    </ul>
                                    <p>Kemudian kirim bukti pembayaran ke Whatsapp admin.</p>
                                    <a 
                                        href="https://wa.me/6281359974022?text=<%= data.text %>" 
                                        class="btn btn-success">
                                        Kirim bukti pembayaran
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Acakoy Factory 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <%- include('partials/footer.ejs') %>